*{
  margin: 0;
  padding: 0;
}

body{
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
}

h1{
  background-color:   #ebebe0;
  text-align: center;
  color: #449c8f;
  margin: 20px 550px 20px;
  border-radius: 25px;
}

#score{
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#display{
  background-color:   #ebebe0;
  color: #449c8f;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

input{
  height: 25px;
  width: 50px;
}

#snake {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
